<head>
  <link rel="stylesheet" href="/css/header.css">
</head>

<div class="header">
    <div class="nav">
      <div class="nav-nav">
        <a href="http://localhost:3000/" class="nav-name">Home</a>
        <a href="http://localhost:3000/create" class="nav-name">Create</a>
        <a href="http://localhost:3000/read" class="nav-name">Read</a>
        <a href="http://localhost:3000/update" class="nav-name">Update</a>
        <a href="http://localhost:3000/delete" class="nav-name">Delete</a>
      </div>
    </div>
</div>