<head>
    <link rel="stylesheet" href="/css/body.css">
</head>

<div className="frame">
    <div className="title">
        <h1>SIGN UP</h1>
    </div>
    <div className="inputField">
        <input className="special" type="text" placeholder="Enter account" />
        <div className="input">
            <input type="password" className="special" placeholder="Enter password" />
        </div>
        <div className="input">
            <input type="password" className="special" placeholder="Enter password again" />
        </div>
    </div>
    <div className="submit">
        <button className="submit-1">
            <a className="submit-1" href="">Sign Up</a>
        </button>
    </div>
</div>